.container {
    position: fixed;
    width: 320px;
    height: 270px;
    background: #2726268e;
    border-radius: 12px;
    user-select: none;
}

.screen {
    position: fixed;
    background-color: #f1efe9;
    border-radius: 12px;
    height: 40px;
    width: 300px;
    margin-left: 8.5px;
    margin-top: 7px;
    font-size: 20px;
}

#display {
    float: right;
    margin: 5px;
}

#dollar {
    float: left;
    margin: 5px;
}

button {
    border-radius: 12px;
    border: none;
    display: block;
    cursor: pointer;
    box-shadow: 0 3px rgb(223, 225, 225);
    background-color: #0f0e11;
    margin: 10px;
    width: 50px;
    color: #f7f2f2;
    font-size: 20px;
}


button:hover{
    background-color: #4CAF50;
}

button:active{
    background-color: #4CAF50;
    box-shadow: 0 3px rgb(142, 142, 142);
    transform: translateY(4px);
}

button:focus {
    outline: 0;
}

.operand {
    background-color: #bb1c1c
}

#equal {
    background-color: #ebd61f;
    width: 203px;
    height: 62px;
    margin-left: -145px;
}

#equal:hover {
    background-color: #4CAF50;
}

#clear {
    width: 90px;
    height: 30px;
    margin-top: -1px;
    background-color: #1836e4
}

#clear:hover {
    background-color: #4CAF50;
}

.large {
    width: 90px;
    background-color: #5a17b3
}

.col1 {
    width: 70px;
    height: 35px;
    margin-top: 55px;
    margin-left: 0px;
}

.col2 {
    width: 70px;
    height: 35px;
    margin-left: 52px;
    margin-top: -45px;
}

.col3 {
    width: 70px;
    height: 35px;
    margin-left: 104px;
    margin-top: -45px;
}

.col4 {
    width: 70px;
    height: 35px;
    margin-left: 156px;
    margin-top: -45px;
}

.col5 {
    width: 70px;
    height: 35px;
    margin-left: 208px;
    margin-top: -45px;
}